
<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <footer>
            <h2> Catch me @</h2>
            <p class="footer-p">
                <a href=""> <img src="https://cdn-icons-png.flaticon.com/512/5968/5968830.png"> </a>
                <a href=""> <img src="https://cdn-icons-png.flaticon.com/512/1384/1384047.png"> </a>
                <a href=""> <img src="https://cdn-icons-png.flaticon.com/512/1384/1384021.png"> </a>
            </p>
            <p class="last-p"> @Copyright MadCafe's {{ current_year }} </p>
        </footer>
    </body>
</html>