
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    <link href="../static/forgot-password-styles.css" rel="stylesheet"><link>
  </head>
  <body>
    {% import "bootstrap/wtf.html" as wtf %}

    <section id="title-section">
      <nav>
        <div></div>
        <a class="title" href="/"> MadCafe's </a>
        <a class="title-b btn btn-dark" href="{{ url }}" role="button"> {{ anchor_text }} </a> 
      </nav>
    </section>

    <section id="form-section">
      {% include "form.html" %}
    </section>
  </body>
</html>